.content .tag-8098b3 { /* Expand */
  color: #E57435;
}

.content .tag-b2e8e1 { /* Fill on creation */
  color: #37A7A7;
}

.content .tag-2080bb { /* Required when creating */
  color: #2E70EF;
}

.content .tag-26e162 { /* Required when answering */
  color: #2D539D;
}

.content .tag-861f01 { /* Change-handler */
  color: #1DAA45;
}

.content .tag-c282f8 { /* Update-provider */
  color: #1d168c;
}

.content .tag-2a1a5b { /* Cannot be changed after filling */
  color: #15767E;
}

.content .tag-44f368 { /* После создания изменить нельзя */
  color: #2D539D;
}

.content .tag-a5b5d6 { /* For custom units. measurements */
  color: #E3B521;
}

.content .tag-3db012 { /* For custom countries */
  color: #167553;
}

.content .tag-8b1b0a { /* Read Only */
  color: #AE069D;
}

.content .tag-0c5653 { /* Tariff option "Extended bonus program" */
  color: #BD1C1C;
}

.content .tag-21c8b3 { /* Deprecated */
  color: #1DAA45;
}
.content .tag-b8d8ac { /* Available upon request */
  color: #aa5c1d;
}
